.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  

   .container {
    margin: 30px auto;
    max-width: 900px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    justify-content: center;
    align-items: left;
    
  }
  
  table {
    width: 100%;
    padding: left 50px;
    border-collapse: collapse;
    border-radius: 10px;
  }
  
  th,
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #c1c1c1;
    text-transform: capitalize;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .modal-dialog {
    position: absolute; /* Changed position property */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100% - 1rem);
    max-height: 80vh;
    width: 80%;
  }
  .modal-content {
    padding: 20px;
    animation: slideIn 0.3s ease;
    background-color: #f8f9fa;
    border: 2px solid #007bff;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
  }
  
  .modal-title {
    margin-bottom: 10px;
    color: #007bff;
    font-size: 20px;
  }
  
  .modal-body p {
    margin-bottom: 5px;
  }
  
  .modal-footer {
    display: flex;
    justify-content: center;

    border-top: none;
  }
  
  .modal-footer button {
    margin-left: 10px;
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(-100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .file-upload {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .file-upload input[type="file"] {
    display: inline-block;
    padding: 10px 50px;

    background-color: #007bff;
    color:white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .file-upload input[type="file"]:hover {
    background-color: #0056b3;
    
  }
  